doctype html
html(lang="de")
	head
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-title", content="▸ " + ticket.segments.outbound.to)
		link(href="assets/css/mobile-ticket.css", rel="stylesheet")
		link(href="assets/images/apple-touch-icon.png", rel="apple-touch-icon")
		title= `Fahrkarte nach ${ticket.segments.outbound.to}`
	body
		header.main-header
			.wrapper
				h1.title
					span.title-ticket Fahrkarte
					=' '
					span.title-product-class= ticket.segments.productClass
				section.validity
					p= validityString(ticket.segments.validFrom, ticket.segments.validUntil)
				section.legs
					p.leg.leg-outbound
						span.leg-from= ticket.segments.outbound.from
						=' '
						span.leg-word-to ▸
						=' '
						span.leg-to= ticket.segments.outbound.to
					if ticket.segments.inbound
						p.leg.leg-inbound
							span.leg-from= ticket.segments.inbound.from
							=' '
							span.leg-word-to ▸
							=' '
							span.leg-to= ticket.segments.inbound.to
		main
			.wrapper
				section.barcode
					p
						img.barcode-img(src=aztecURL)
				section
					p.class= `${ticket.segments.fareClass}. Klasse`
				div.group
					section
						h1.section-title Fahrgäste
						p.passengers
							= `${ticket.segments.adults} Erwachsene${ticket.segments.adults === 1 ? '(r)':''}`
							- if (ticket.segments.children)
								= `, ${ticket.segments.children} Kind${ticket.segments.children !== 1 ? 'er':''}`
						p.passenger-name
							= `${ticket.segments.passenger.firstName} ${ticket.segments.passenger.lastName}`
							if ((ticket.segments.adults + ticket.segments.children) > 1)
								= " + " + (ticket.segments.adults + ticket.segments.children - 1)
					if (ticket.segments.bahnCards)
						section.bahn-card
							h1.section-title BahnCard
							p= `${ticket.segments.bahnCards} ${ticket.segments.bahnCardTypes}`
				section.identification
					h1.section-title Wie Sie sich identifizieren
					p!= identification
				section.via
					h1.section-title Geltungsbereich
					p= ticket.segments.via
				section.small-print
					h1.section-title Kleingedrucktes
					h2.section-subtitle Auftragsnummer
					p= ticket.header.pnr
					h2.section-subtitle= ticket.segments.certificates.length > 1 ? 'Zertifikate' : 'Zertifikat'
					each certificate in ticket.segments.certificates
						p=certificate.id
